
@this(
        govukWarningText: GovukWarningText
)

@()(implicit messages: Messages)

<div class="govuk-!-display-none" id="file-processing-alert">
    <div class="govuk-!-margin-bottom-2" style="display: flex; justify-content: center; align-items: center">
        <img id="file-processing-alert-img" src="@routes.Assets.versioned("images/spinner.gif")"/>
    </div>
    @govukWarningText(WarningText(
        iconFallbackText = messages("ers.warning"),
        content = Text(messages("ers_upload_form.processing_alert")),
        attributes = Map("role" -> "alert")
    ))
</div>