/*****************************/
/* ERS Global Styles         */
/*****************************/

@media screen and (min-width: 641px) {

  .grid-layout__column--1-3 {
    float: left;
    width: 33.33333%;
  }

  .grid-layout__column--2-3 {
    float: left;
    width: 66.66667%;
  }

}

#upload-file-form {clear:both;}

.hidden {display:none;}

.clear {clear:both;}

#content article {width:100%;}

div.grid-layout {
    margin:0;
}

.visibility {
    display: none;
}

.validation-message {font-weight:bold; border-left: 5px solid #B10E1E; padding-left:15px; font-size:19px; margin-top:1em; margin-left: 0em;color:#B10E1E;}
.validation-summary-message {font-weight:bold; font-size:19px; margin-top:1em;}
.validation-summary-message a, .validation-message a, p.field-error {
                                                                    color: #B10E1E;
                                                                    font-weight: bold;
}
.validation-summary {
                     border: 5px solid #B10E1E;
                     margin-top: 30px;
                     margin-bottom: 30px;
                     padding: 20px 15px 15px;
}

article .help-notice {
   background: url('../images/icon-important.png') no-repeat scroll 0px 0.5em transparent;
}

.panel-indent {margin-bottom: 20px; border-left: 10px solid #BFC1C3;}

.button {
    background-color: #00823B;
    position: relative;
    display: inline-block;
    border: medium none;
    border-radius: 0px;
    box-shadow: 0px 2px 0px #003518;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    margin: 0px 15px 15px 0px;
    padding: 0.52632em 0.78947em 0.26316em;
    vertical-align: top;
}


.button-get-started {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    line-height: 1.25;
    text-transform: none;
    font-weight: 700;
    background-image: url('../images/icon-pointer.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 0.36842em 2.15789em 0.21053em 0.84211em;
}

.button:link, .button:hover, .button:focus, .button:visited {
    color: #FFF;
}

.button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: none repeat scroll 0% 0% transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

.help-notice p.nodeco {font-weight:400; font-size:19px;}

.related {border-top:10px solid #005ea5; margin:3em 0 0; right:1.75em; }

.link-back::before {
    border-bottom: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-top: 5px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 0;
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    border-bottom: 1px solid #0b0c0c;
	display: inline-block;
	font-family: "nta",Arial,sans-serif;
	font-weight: 400;
	margin-top: 15px;
	padding-left: 14px;
	position: relative;
	text-decoration: none;
	text-transform: none;
}

/*****************************/
/* Check file styles         */
/*****************************/

/* #formatting-errors-help {display:block;} */

/*#error-summary {margin-bottom:1em;}*/

#choose-file-button, #file-name {float:left; display:none;}

/* #choose-file-button {background-color:#BFC1C3; box-shadow: 0px 2px 0px #6F777B;} */

.button.choose-file-button {background-color:#DEE0E2; box-shadow: 0 2px 0 #6F777B; color:black;}
.button.choose-file-button:hover, .button.choose-file-button:focus {background-color:#B2B4B7;}
.button.choose-file-button:focus {outline:3px solid #FFBF47;}


#file-name, #remove-file-link {padding:9px 6px 6px 6px; display:none;}

#file-name, #input-file-name {white-space:pre;} 

#remove-file-link, #file-header-bar {display: none;}

#remove-file-link, #remove-csv-file-link {float:right;}

#file-wrapper {clear:both;}

#input-file-name, .input-csv-file-name {border:1px solid #BFC1C3; padding:0; background:none; float:left;}

.input-csv-file-name-heading {float:left; clear:both; margin-bottom:2px; margin-top:0px; font-weight:700;}
#input-file-name, .input-csv-file-name {min-width:64%; max-width:500px; margin-bottom:20px; clear:both;}

.fileAlert {border-left: 5px solid #B10E1E; margin-left:0em; padding-left:14px;}

#check-file-button{margin: 1em 0 1em 0;}

#file-wrapper {margin-top: 1em;}

#file-container {width:auto;}
#choose-file-button-container {width:auto; float:left;}
#file-name {float:left; width:60%; overflow:hidden;}
#remove-file-link-container {width:auto; float:none; overflow:hidden;}

/*#remove-csv-file-link {padding:29px 0 0 6px;}*/
#remove-csv-files-link-container {width:auto; float:none; max-width:13%;}

#file-header-bar {background-color:#DEE0E2; margin-bottom:1em; padding:4px 0 2px 186px;}

#page-header {padding-top:2em;}

#progressbar{
font-family: "nta",Arial,sans-serif;
font-size: 27px;
line-height: 1;
font-weight: 400;
text-transform: none;
display: block;
margin-bottom: 0.25em;
text-shadow: none;
color: #6F777B;}

#check-file-button {clear:both; float:left; margin-bottom:2em;}

#back {clear:both; float:left;}

.success-banner {
  background-color: #28a197;
  color:#FFFFFF;
  font-size: 24px;
  padding: 2em 0px 1em;
  text-align: center;
  margin-top: 40px;
}

.success-font {
  font-size:36px;
  margin-top:0;
  margin-bottom: 12px;
}

.bottom-grey {clear: both;
/*border-bottom: 1px solid #BFC1C3;*/
padding-bottom:20px;}

.form-field.error {border-left: 5px solid #B10E1E;
                   padding-left: 15px;
                   margin: 0 -1em 0.5em 0em;
                   }

/*#success-message h1 {margin-bottom:0;}*/
#success-message P {margin-top:0;}

/*****************************/
/* HTML Error Report Styles  */
/*****************************/

article #html-error-report table td, article #html-error-report table th {background:none; padding:10px 20px 10px 0} 
article #html-error-report table td, article #html-error-report table th {border:none;} 
article #html-error-report table td, article #html-error-report table th {border-bottom: 1px solid #BFC1C3;} 
#html-error-report .column, #html-error-report .row {width:10%} 
#html-error-report .report-title {text-align:right; margin-top:0; margin-bottom:0;}
#html-error-report #errors-by-sheet {margin-top:2em; margin-bottom:0;}
#html-error-report .sheet-title {margin-top:1em; margin-bottom:0.25em;}

.error-table th, .error-table td {
    font-size: 19px;
    line-height: 1.31579;
}
/*****************************/
/* spinner                   */
/*****************************/


#progress-spinner {
  display:none; 
  float:left;
  margin: 0.5em 1em;
  text-align:center;
  vertical-align:middle;
  line-height:64px;
}

.error-summary-heading {
    margin-top:0;
}
 /*
#errors {
   width:60%;
}

.heading-xlarge {
    width:120%;
}
*/

.title-with-error {
    margin-bottom:0;
}

#errors:focus, #fileToUpload:focus {outline: 3px solid #ffbf47;}


