/*****************************/
/* ERS Global Styles         */
/*****************************/

.clear {clear:both;}

.visibility {
    display: none;
}

.validation-border {border-left: 5px solid #d4351c; padding-left: 15px;}
.validation-message {font-weight:bold; font-size:19px; margin-top:1em; margin-left: 0em;color:#d4351c;}
.validation-summary-message {font-weight:bold; font-size:19px; margin-top:1em;}
.validation-summary-message a, .validation-message a, p.field-error {
                                                                    color: #B10E1E;
                                                                    font-weight: bold;
}
.validation-summary {
                     border: 5px solid #B10E1E;
                     margin-top: 30px;
                     margin-bottom: 30px;
                     padding: 20px 15px 15px;
}

article .help-notice {
   background: url('../images/icon-important.png') no-repeat scroll 0px 0.5em transparent;
}


.help-notice p.nodeco {font-weight:400; font-size:19px;}

.related {border-top:10px solid #005ea5; margin:3em 0 0; right:1.75em; }

/*****************************/
/* Check file styles         */
/*****************************/

/* #formatting-errors-help {display:block;} */

/*#error-summary {margin-bottom:1em;}*/

#choose-file-button, #file-name {float:left; display:none;}

/* #choose-file-button {background-color:#BFC1C3; box-shadow: 0px 2px 0px #6F777B;} */

.button.choose-file-button {background-color:#DEE0E2; box-shadow: 0 2px 0 #6F777B; color:black;}
.button.choose-file-button:hover, .button.choose-file-button:focus {background-color:#B2B4B7;}
.button.choose-file-button:focus {outline:3px solid #FFBF47;}


#file-name, #remove-file-link {padding:9px 6px 6px 6px; display:none;}

#file-name, #input-file-name {white-space:pre;}

#remove-file-link, #file-header-bar {display: none;}

#remove-file-link, #remove-csv-file-link {float:right;}

#file-wrapper {clear:both;}

#input-file-name, .input-csv-file-name {padding:0; background:none; float:left;}

.input-csv-file-name-heading {float:left; clear:both; margin-bottom:2px; margin-top:0px; font-weight:700;}
#input-file-name, .input-csv-file-name {min-width:64%; max-width:500px; margin-bottom:20px; clear:both;}

.fileAlert {border-left: 5px solid #B10E1E; margin-left:0em; padding-left:14px;}

#check-file-button{margin: 1em 0 1em 0;}

#file-wrapper {margin-top: 1em;}

#file-container {width:auto;}
#choose-file-button-container {width:auto; float:left;}
#file-name {float:left; width:60%; overflow:hidden;}
#remove-file-link-container {width:auto; float:none; overflow:hidden;}

#remove-csv-files-link-container {width:auto; float:none; max-width:13%;}

#file-header-bar {background-color:#DEE0E2; margin-bottom:1em; padding:4px 0 2px 186px;}

#page-header {padding-top:2em;}

.transaction-banner--complete {
    background-color: #00703c;
}

.form-field--error {
    border-left: 5px solid #df3034;
}

.error-notification {
    font-size: 19px !important;
    line-height: 1.31579;
    font-weight: 700 !important;
}

.flash, .error-summary a {
    font-weight: bold;
}

/*****************************/
/* spinner                   */
/*****************************/


#progress-spinner {
  display:none; 
  float:left;
  margin: 0.5em 1em;
  text-align:center;
  vertical-align:middle;
  line-height:64px;
}

.error-summary-heading {
    margin-top:0;
}

#errors:focus, #fileToUpload:focus {outline: 3px solid #ffbf47;}


