@(schemeName: String, sheets: String, schemeNameShort: String, errorListCount: Long, schemeErrorCount: Long)(implicit request: Request[AnyRef])
@* HTML Error Report Template *@

@import utils.PageBuilder

@ers_main(title = Messages("ers.app_title")) {

		<header>
			<h1 class="heading-xlarge">@Html(Messages("ers_html_error_report.report_title", schemeName, schemeNameShort))</h1>
		</header>
		<div class="panel-indent panel-indent--gutter">
			<p>@Html(Messages("ers_html_error_report.number_of_errors",errorListCount, schemeErrorCount))</p>
		</div>

		<h2 class="heading-medium">
			@(if(errorListCount != 0) {
			Html(Messages("ers_html_error_report.errors_title", "sheet"))
			})</h2>
			@Html(sheets)




	<h2 class="heading-medium">@Html(Messages("ers_error_report.sub_heading"))</h2>
	<p class="text">@Html(Messages("ers_error_report.instructions1"))&nbsp;<a href="@routes.CheckingServiceController.schemeTypePage()" id="check-another-return-file-link">@Html(Messages("ers_error_report.instructions2"))</a>.</p>
	<a href="https://www.gov.uk/done/employment-related-securities-files" id="finished">@Html(Messages("ers_file_format_successful.feedback"))</a>&nbsp;@Html(Messages("ers_file_format_successful.feedback_time"))
}
